<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="images/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
  </head>
  <body>

    <div class="header">
      <ul id="Selector">
        <li class="Selector_port"; style="background-image:url(./images/baidu.png);"><input type="radio" name="translator_selector" value="Baidu" checked="checked" >
        </br></li>
        <li class="Selector_port"; style="background-image:url(./images/youdao.png);"><input type="radio" name="translator_selector" value="Youdao">
        </br></li>
        <li class="Selector_port"; style="background-image:url(./images/google.png);"><input type="radio" name="translator_selector" value="Google">
        </li>
      </ul>
      <div style="margin-top: 150px; float: left; width: 100%"></div>
        <ul class="menu">


      <div>
        <audio autoplay></audio>
        <!-- <input onclick="startRecording()" type="button" value="录音" />
        <input onclick="stopRecording()" type="button" value="停止" /> -->
        <!-- <input onclick="playRecording()" type="button" value="播放" /> -->
        <!-- <input onclick="uploadAudio()" type="button" value="提交" /> -->
        <button id="sound-record-zh" class="sound-record" onmousedown="myStartRecordingZH()" onmouseup="myStopRecordingZH()" style="float: left">中</button>
        <button id="sound-record-us" class="sound-record" onmousedown="myStartRecordingUS()" onmouseup="myStopRecordingUS()" style="float: right">EN</button>
    </div>

    <script type="text/javascript" src="./images/record.js"></script>

    <script>
        var recorder;
        var audio = document.querySelector('audio');
        function myStartRecordingZH() {
          var layoutLoading = document.getElementById('sound-record-zh');
          layoutLoading.innerHTML = '';
          layoutLoading.classList.add("layoutLoading");
          HZRecorder.get(function (rec) {
            recorder = rec;
            recorder.start();
          });
        }
        function myStopRecordingZH() {
          var layoutLoading = document.getElementById('sound-record-zh');
          layoutLoading.classList.remove("layoutLoading");
          layoutLoading.innerHTML = '中';
          recorder.stop();
          uploadAudioZH();

        }
        function myStartRecordingUS() {
          var layoutLoading = document.getElementById('sound-record-us');
          layoutLoading.innerHTML = '';
          layoutLoading.classList.add("layoutLoading");
          HZRecorder.get(function (rec) {
            recorder = rec;
            recorder.start();
          });

        }
        function myStopRecordingUS() {
          var layoutLoading = document.getElementById('sound-record-us');
          layoutLoading.classList.remove("layoutLoading");
          layoutLoading.innerHTML = 'EN';
          recorder.stop();
          uploadAudioEN();
          // recorder.play(audio);

        }
        function startRecording() {
            HZRecorder.get(function (rec) {
                recorder = rec;
                recorder.start();
            });
        }

        function stopRecording() {
            recorder.stop();
            uploadAudio();
        }

        function playRecording() {
            recorder.play(audio);
        }

        function uploadAudioZH() {
            var formdata = new FormData(); // form 表单 {key:value}
            formdata.append("audioData", recorder.getBlob()); // form input type="file"
            formdata.append("translator_selector",$('input:radio[name=translator_selector]:checked').val());
            $.ajax({
                url: "/getaudiozh",
                type: 'post',
                processData: false,
                contentType: false,
                data: formdata,
                success: function (data) {
                    console.log(data);
                    // alert("识别成功");
                    $("#sb").html(data);
                    

                }
            })
        };

        function uploadAudioEN() {
            var formdata = new FormData(); // form 表单 {key:value}
            formdata.append("audioData", recorder.getBlob()); // form input type="file"
            formdata.append("translator_selector",$('input:radio[name=translator_selector]:checked').val());
            $.ajax({
                url: "/getaudioen",
                type: 'post',
                processData: false,
                contentType: false,
                data: formdata,
                success: function (data) {
                    console.log(data);
                    // alert("识别成功");
                    $("#sb").html(data);
            
                }
            })
        };

    </script>




    </ul>
  </div>


    <div class="content">

        <p id="sb" style="font-weight:bold;color:#117ae4;font-family: 'Microsoft-YaHei';max-width:700px;line-height:40px;    margin: 0 auto;
    margin-top: 200px;">
            On March 1st, Beijing University of Technology held welcome ceremony and orientation for new international students in the room 903, fourth teaching building for the year2018 spring semester. Prof. Wu Bin, Vice President of BJUT, Prof. Wang Wei, Directorof International Office, Dean of the College of International Education, andall faculties and staffs of the College of International Education participatedin this event.

            At first, VicePresident, Prof. Wu Bin warmly welcomed international students and briefed the students on the development of school and international development strategy. President Wu encouraged international students to study hard and think independently under the guidance of teachers, and also actively participate in colorful community activities at this beautiful campus of BJUT. He hopes that all the new students could enjoy every day in BJUT, and be knowledgeable, energized and accomplished!  
        </p>

    
    </div>
  </body>
</html>
